/* hide sidebar toggle button on desktop view */
.toggle-sidebar-btn {
  display: none;
}

/* Mobile view (xs/sm) */
@media (max-width: 576px) {
  .toggle-sidebar-btn {
    display: block;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .toggle-sidebar-btn {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .toggle-sidebar-btn {
    display: block;
  }
}